.git
**/node_modules
.docs-source
.docs-ir
reports
drupal/vendor
drupal/keys
drupal/web/core
drupal/web/libraries
drupal/web/modules/contrib
drupal/web/profiles/contrib
drupal/web/themes/contrib
drupal/web/sites/default/files
drupal/web/sites/default/settings.php
drupal/web/sites/default/settings.local.php
drupal/web/sites/default/services.yml
nuxt/.nuxt
nuxt/.cache
nuxt/dist
nuxt/content
